{% extends "email/base.html" %}
{% load i18n static %}
 
{% block content %}
  <div id="content-main">
    <form method="post">{% csrf_token %}
      <div>
        {% if form.errors %}
          <p class="errornote">以下のエラーを修正して下さい。</p>
        {% endif %}
 
        <p>セキュリティ上の理由から旧パスワードの入力が必要です。新しいパスワードは二回入力してください。</p>
        <fieldset class="module aligned wide">
          <div class="form-row">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag }} {{ form.old_password }}
          </div>
          <div class="form-row">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            {% if form.new_password1.help_text %}
              <div class="help">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
          </div>
 
          <div class="form-row">
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            {% if form.new_password2.help_text %}
              <div class="help">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
          </div>
        </fieldset>
 
        <div class="submit-row">
          <input type="submit" value="パスワードの変更" class="default">
        </div>
 
      </div>
    </form>
  </div>
 
{% endblock %}