<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django-rest-auth demo">
    <title>django-rest-auth demo</title>
    <script>
		// window.addEventListener('load', function(){
		// 	console.log("load:リソースファイルを全て読み込みました。");
		// });

		window.addEventListener('DOMContentLoaded', function(){
            console.log("DOMContentLoaded:HTMLを読み込みました。");
            window.open('lta://password_change/{{uidb64}}/{{token}}', '_blank');
            // window.location.href = 'lta://password_reset/{{uidb64}}/{{token}}';
		});
        // window.location.href = 'lta://password_reset/{{uidb64}}/{{token}}';
        // window.open('lta://password_reset/{{uidb64}}/{{token}}', '_blank');
        // console.log("window.open");
	</script>
  </head>

<body role="document">


  </body>
</html>